body {
  font-size: 16px;
  font-family: arial;
  margin: 0;
  background-color: #;
}

h4 {
  margin: 0;
}

ul {
  margin: 0;
}

.nav-bar {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e3e3;
  border: 1px solid lightgrey;
}

.nav-bar h1 {
  margin: 0;
}

.nav-bar .nav-bar-user-room-info p {
  margin: 0;
}

.nav-bar form {
  margin: 0;
}

.game-room-container {
  display: flex;
  flex-direction: column;
  margin: 0 8px 0 8px;
  min-height: 90%;
  justify-content: space-between;
}

.room-header {
  display: flex;
  justify-content: center;
}

game-buttons-container {
  order: 3;
}

.connected-players-container {
  display: inline-flex;
  justify-content: center;
  order: 1;
  flex-basis: 90%;
  margin: auto;
}

.game-pot .round{
  display: flex;
  margin-top: 20px;
  border-top: 1px solid black;
  z-index: 20;
  background-color: hsla(95, 50%, 38%, 0.47);
  width: 100%;
  justify-content: center;
}

.game-pot > .round:last-child {
    background-color: hsla(95, 50%, 38%, 1);
}

.game-pot > .round:not(:first-child) {
  margin-top: -100px;
}

.game-pot .round .card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 200px
}

.connected-players-list {
  order: 1;
}

.connected-players-container h3 {
  display: inline;
  flex: 1 1 10%;
}

.pot-with-buttons-container {
  display: flex;
  justify-content: space-around;
}

.game-pot {

}

.round-buttons-container {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  justify-content: flex-end;
}

.flex-parent {
  display: inline-flex;
  justify-content: center;
}

.flex-child {

}

.player-hand-container {
  text-align: center;
  align-self: flex-end;
  background-color: #e3e3e3;
  width: 100%;
}

.player-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  border-top: none; 
  background-color: #e3e3e3;
  width: 200px;
  flex-basis: auto;
  text-align: center;
  min-height: 50px;
}

.player-card>h3{
  margin: 0;
}

.current-player {
  background-color: lightblue;
  font-size:250%;
}

.game-pot {
  flex-grow: 4;
  flex-basis: 100%;
  flex-direction:column;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
}

.game-pot .current-round,
.game-pot .previous-round {
  border: 1px solid lightgrey;
  background-color: #e3e3e3;
  padding: 1%;
  margin: 2px;
}
.game-pot .card-group {
  flex-wrap: nowrap;
}


.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  padding: 0 50px 0 50px;
}


.card {
  flex-basis: 100px;
  list-style: none;
  margin-left: -50px;
  transform: rotate(7deg);
}

.card-group:first-child {
  margin-left: 0px;
}

.card img {
  max-width: 100%;
}

.selected-card {
  margin-top: -50px;
}

.round-buttons-container button {
  border-radius: 100%;
  background-color: lightblue;
  height: 70px;
  width: 70px;
  border: 1px solid lightgrey;
  margin-left: 10%;
  margin-bottom: 50px;
}
